body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #e8d6cb;
}
form {
  width: 500px;
  min-height: 300px;
  height: auto;
  border-radius: 20px;
  margin: 4% auto;
  background-color: #b58db6;
  padding: 4%;
  /* box-shadow: 0 9px 50px hsla(246, 82%, 64%, 80.31); */

  /* background-image: linear-gradient(-27deg, #e3fdf5 80%, #fff 2%); */
}

.loginTitle {
  text-align: center;
  font-size: 50px;
  margin-bottom: 10%;
}

.loginInput {
  width: 80%;
  height: 10px;
  margin: 0 auto;
  background: #fff;

  padding: 14.5px 0px 15px 9px;
  border-radius: 5px;
}

.loginButtonContainer {
  padding: 3%;
  width: 34%;
  background-color: black;
  margin-left: 34%;
  margin-top: 10%;
}
.loginButton {
  width: 100%;
}
.loginTitle,
.loginInput,
.loginButtonContainer,
.loginPass {
  display: flex;

  justify-content: space-around;
}

.loginPass {
  width: 80%;
  height: 10px;
  margin: 0 auto;

  background: #fff;

  padding: 14.5px 0px 15px 9px;
  border-radius: 5px;
}

.pass {
  margin: 10px;
}
